<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="controls" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <system.net>
    <mailSettings>
      <smtp from="hassannikyar06@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="hassannikyar06@gmail.com" password="krugcjgmfmrbvopw" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="mailSettings:smtp:network:host" value="smtp.gmail.com" />
    <add key="mailSettings:smtp:network:port" value="587" />
    <add key="mailSettings:smtp:network:userName" value="hassannikyar06@gmail.com" />
    <add key="mailSettings:smtp:network:password" value="krugcjgmfmrbvopw" />
    <add key="mailSettings:smtp:network:enableSsl" value="true" />
    <add key="mailSettings:smtp:from" value="hassannikyar06@gmail.com" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="Con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <controls>
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
    </controls>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
  </system.webServer>
</configuration>

